body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url("https://media.mineralauctions.com/391521/980001c.jpg")
    
}

body {
    margin: 0;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 button{
    border-radius: 5px;
    color:red;
 }