body{
    background-image: url(https://rockidentifier.com/image-handle//image/1080/0406ADB118C14CF7AD979CF90F8D61CB.jpeg?x-oss-process=image/format,webp);
    background-size: 100%;
    background-attachment: fixed;
}
